*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    position: relative;
    max-width: 130px;
}

.header ul{
    position: relative;
    display: flex;
}

.header ul li{
    list-style: none;
}

.header ul li a{
    display: inline-block;
    color: #333;
    font-size: 1.2em;
    font-weight: 400px;
    margin-left: 40px;
    text-decoration: none;
}

.header ul li a:hover{
    color: rgb(0, 90, 5);
    font-size: 1.6em;
    font-weight: 500;
    transition: .5s;
}